[Unit]
Description=REIP capture functionality

[Service]
Type=simple
ExecStart=/bin/bash /home/reip/reip_capture/capture_run.sh
Restart=always

[Install]
WantedBy=multi-user.target
